* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.App {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .thumbnail {
        width: 1.75rem;
        height: 1rem;
        margin-right: 5px;
        border: 1px solid rgba(150, 150, 150, 0.85);
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 0;

        select {
            padding: 0.5rem 1rem;
            background-color: red;
            background-color: rgb(74, 134, 232);
            outline: none;
            border: none;
            color: white;

            option {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }


        section {
            width: 100%;
            max-width: 500px;
            display: flex;
            justify-content: space-between;

            div {
                //margin-left: 0;
                margin-top: 1rem;

                h4:first-child {
                    font-size: 1rem;
                    //color: darkcyan;
                    font-weight: 500;
                }

                h4 {
                    font-weight: 500;
                    //color: rgba(0, 0, 0, 0.65);
                    display: flex;
                    justify-content: space-between;
                }

                h4:nth-child(2) {
                    font-weight: 500;
                    color: rgb(74, 134, 232);
                }
            }
        }
    }

    table {
        width: 100%;
        max-width: 500px;
        border-collapse: collapse;

        thead {

            tr {
                //background-color: green;
                background-image: linear-gradient(white, rgba(200, 200, 200, 0.5));

                th {
                    font-weight: 400;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid rgba(200, 200, 200, 0.7);

                td {
                    .huf {
                        font-size: 0.75rem;
                    }
                }
            }

            .vetel,
            .eladas {
                color: rgb(74, 134, 232);
                color: darkcyan;
            }

            .kozep {
                color: rgb(74, 134, 232);
            }
        }

        th {
            padding: 1rem;
            text-align: left;

        }

        td {
            padding: 1rem 1rem;
            text-align: right;
        }

        .penznem {
            text-align: left;
            display: flex;
            align-items: center;
        }

        .datum {
            display: none;
        }
    }
}

@media only screen and(max-width: 500px) {
    .App {

        .th,
        td {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
        }

        header {
            div {

                h4 {
                    font-size: 0.85rem;
                }

                h4:first-child {
                    font-size: 0.85rem !important;
                }

            }
        }

        th,
        td {
            font-size: 0.75rem;
        }
    }
}

@media only screen and(max-width: 350px) {
    .App {
        table {

            th,
            td {
                padding: 0.5rem;
            }
        }
    }
}