* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.App {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        align-items: center;
        padding: 1rem 0;

        select {
            padding: 0.5rem 1rem;
        }

        div {
            margin-left: 2rem;
        }
    }

    table {
        width: 100%;
        max-width: 500px;
        border-collapse: collapse;

        thead {
            background-color: green;
            color: white;
        }

        tbody {
            //background-color: red;

            tr:nth-child(2n) {
                background-color: grey;
                color: white;
            }
        }

        th {
            padding: 1rem;
            text-align: left;

        }

        td {
            padding: 0.25rem 1rem;
            text-align: right;
        }

        td:not(td:nth-child(4)) {
            border-right: 1px solid rgb(180, 180, 180);
        }

        .penznem {
            text-align: left;
        }

        .datum {
            display: none;
        }
    }
}

@media only screen and(max-width: 500px) {
    .App {

        .th,
        td {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
        }
    }
}

@media only screen and(max-width: 430px) {
    .App {
        header {
            flex-direction: column;
            align-items: flex-start;

            div {
                margin-left: 0;
                margin-top: 1rem;

                h4 {
                    font-size: 0.85rem;
                }
            }
        }

        th,
        td {
            font-size: 0.75rem;
        }
    }
}

@media only screen and(max-width: 350px) {
    .App {
        table {

            th,
            td {
                padding: 0.25rem;
            }
        }
    }
}