* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    //background-color: green;

    .thumbnail {
        width: 1.5rem;
        height: 1rem;
        margin-right: 5px;
        border: 1px solid rgba(150, 150, 150, 0.85);
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        max-width: 500px;

        .line-1 {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            select {
                padding: 0.5rem 1rem;
                background-color: red;
                background-color: rgb(74, 134, 232);
                outline: none;
                border: none;
                color: white;
                width: 100%;
                max-width: 250px;

                option {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }

            span {
                margin-left: 0.5rem;
                font-family: Verdana, Geneva, sans-serif;
            }
        }


        section {
            width: 100%;
            max-width: 500px;
            display: flex;
            justify-content: space-between;

            div {
                //margin-left: 0;
                margin-top: 1rem;

                h4:first-child {
                    font-size: 1rem;
                    //color: darkcyan;
                    font-weight: 500;
                    //background-color: black;
                }

                h4 {
                    font-weight: 500;
                    //color: rgba(0, 0, 0, 0.65);
                    display: flex;
                    justify-content: space-between;
                }

                h4:nth-child(2) {
                    justify-content: flex-end;
                    margin-top: 0.25rem;
                    //background-color: red;
                }

                h4:nth-child(2) {
                    font-weight: 500;
                    color: rgb(74, 134, 232);
                }
            }
        }
    }

    table {
        width: 100%;
        max-width: 500px;
        border-collapse: collapse;

        thead {

            tr {
                //background-color: green;
                background-image: linear-gradient(white, rgba(200, 200, 200, 0.5));

                th {
                    font-weight: 400;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid rgba(200, 200, 200, 0.7);

                td {
                    .huf {
                        font-size: 0.75rem;
                        display: none;
                    }
                }
            }

            .vetel,
            .eladas {
                color: rgb(74, 134, 232);
                color: darkcyan;
            }

            .kozep {
                color: rgb(74, 134, 232);
            }
        }

        th {
            padding: 1rem;
            text-align: left;

        }

        td {
            padding: 1rem 1rem;
            text-align: right;
        }

        .penznem {
            text-align: left;
            display: flex;
            align-items: center;
        }

        .datum {
            display: none;
        }
    }

    footer {

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            max-width: 500px;
            justify-content: center;
            margin: 1rem;

            li {
                //background-color: red;
                text-align: center;
            }

            li:not(li:last-child) {
                margin-bottom: 0.5rem;
            }

            li:last-child {
                font-size: 0.75rem;
            }
        }
    }
}

@media only screen and(max-width: 500px) {
    .App {

        .th,
        td {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
            font-size: 0.75rem;
        }

        header {
            div {
                h4 {
                    font-size: 0.85rem;
                }

                h4:first-child {
                    font-size: 0.85rem !important;
                }
            }
        }
    }
}

@media only screen and(max-width: 400px) {
    .App {
        header {
            .line-1 {
                //flex-direction: column;

                span {
                    font-size: 0.85rem;
                }
            }
        }
    }
}


@media only screen and(max-width: 350px) {
    .App {
        header {
            padding: 1rem 0.25rem;

            .line-1 {
                flex-direction: column;
                align-items: flex-start;

                span {
                    margin-top: 0.75rem;
                    margin-left: 0;
                }
            }
        }

        table {

            th,
            td {
                padding: 0.5rem;
            }
        }
    }
}