* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}
.App .thumbnail {
  width: 1.5rem;
  height: 1rem;
  margin-right: 5px;
  border: 1px solid rgba(150, 150, 150, 0.85);
}
.App header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  max-width: 500px;
}
.App header .line-1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.App header .line-1 select {
  padding: 0.5rem 1rem;
  background-color: red;
  background-color: rgb(74, 134, 232);
  outline: none;
  border: none;
  color: white;
  width: 100%;
  max-width: 250px;
}
.App header .line-1 select option {
  background-color: rgba(0, 0, 0, 0.5);
}
.App header .line-1 span {
  margin-left: 0.5rem;
  font-family: Verdana, Geneva, sans-serif;
}
.App header section {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}
.App header section div {
  margin-top: 1rem;
}
.App header section div h4:first-child {
  font-size: 1rem;
  font-weight: 500;
}
.App header section div h4 {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.App header section div h4:nth-child(2) {
  justify-content: flex-end;
  margin-top: 0.25rem;
}
.App header section div h4:nth-child(2) {
  font-weight: 500;
  color: rgb(74, 134, 232);
}
.App table {
  width: 100%;
  max-width: 500px;
  border-collapse: collapse;
}
.App table thead tr {
  background-image: linear-gradient(white, rgba(200, 200, 200, 0.5));
}
.App table thead tr th {
  font-weight: 400;
}
.App table tbody tr {
  border-bottom: 1px solid rgba(200, 200, 200, 0.7);
}
.App table tbody tr td .huf {
  font-size: 0.75rem;
  display: none;
}
.App table tbody .vetel,
.App table tbody .eladas {
  color: rgb(74, 134, 232);
  color: darkcyan;
}
.App table tbody .kozep {
  color: rgb(74, 134, 232);
}
.App table th {
  padding: 1rem;
  text-align: left;
}
.App table td {
  padding: 1rem 1rem;
  text-align: right;
}
.App table .penznem {
  text-align: left;
  display: flex;
  align-items: center;
}
.App table .datum {
  display: none;
}
.App footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 500px;
  justify-content: center;
  margin: 1rem;
}
.App footer ul li {
  text-align: center;
}
.App footer ul li:not(li:last-child) {
  margin-bottom: 0.5rem;
}
.App footer ul li:last-child {
  font-size: 0.75rem;
}

@media only screen and (max-width: 500px) {
  .App .th,
.App td {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size: 0.75rem;
  }
  .App header div h4 {
    font-size: 0.85rem;
  }
  .App header div h4:first-child {
    font-size: 0.85rem !important;
  }
}
@media only screen and (max-width: 400px) {
  .App header .line-1 span {
    font-size: 0.85rem;
  }
}
@media only screen and (max-width: 350px) {
  .App header {
    padding: 1rem 0.25rem;
  }
  .App header .line-1 {
    flex-direction: column;
    align-items: flex-start;
  }
  .App header .line-1 span {
    margin-top: 0.75rem;
    margin-left: 0;
  }
  .App table th,
.App table td {
    padding: 0.5rem;
  }
}/*# sourceMappingURL=app.css.map */